.admin-area {
    background: rgba(4,9,30,0.85);
    color: white;
    height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
  }
  .admin-menu {
    list-style: none;
    cursor: pointer;
  }
  .admin-menu:hover {
    color: #ef6c00;
  }
  .dashboard-title{
    text-align: center;
    color: #ef6c00;
    margin-top: 20px;
    font-weight: bold;
  }
  