.HeaderMain-container{
    display: flex;
}
.HeaderMain-container i{
    color: #2f89fc;
    margin-right: 5px;
}
.brand h1{
    font-weight: 700;
    color: #ff8000;
    font-family: "Work Sans", Arial, sans-serif;
}
.brand a{
    text-decoration: none;
}
.brand span {
    color: #2f89fc;
}

.header-contact-info{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}